TestTools/LifePortaitsWebServiceTester/Service References/LifePortraitsGatewayServiceReference/GatewayService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://wwww/stoneriver.com/services/GatewayService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GatewayService" targetNamespace="http://wwww/stoneriver.com/services/GatewayService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IGatewayService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://wwww/stoneriver.com/services/GatewayService/Imports">
      <xsd:import schemaLocation="http://lpat1.hoad.local:8568/GatewayService?xsd=xsd5" namespace="http://wwww/stoneriver.com/services/GatewayService" />
      <xsd:import schemaLocation="http://lpat1.hoad.local:8568/GatewayService?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://lpat1.hoad.local:8568/GatewayService?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/LifeServer.DataModel.request" />
      <xsd:import schemaLocation="http://lpat1.hoad.local:8568/GatewayService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LifeServer.DataModel" />
      <xsd:import schemaLocation="http://lpat1.hoad.local:8568/GatewayService?xsd=xsd3" />
      <xsd:import schemaLocation="http://lpat1.hoad.local:8568/GatewayService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/LifeServer.DataModel.response" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGatewayService_processXmlRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:processXmlRequest" />
  </wsdl:message>
  <wsdl:message name="IGatewayService_processXmlRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:processXmlRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IGatewayService_processRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:processRequest" />
  </wsdl:message>
  <wsdl:message name="IGatewayService_processRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:processRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="IGatewayService">
    <wsdl:operation name="processXmlRequest">
      <wsdl:input wsaw:Action="http://wwww/stoneriver.com/services/GatewayService/IGatewayService/processXmlRequest" message="tns:IGatewayService_processXmlRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://wwww/stoneriver.com/services/GatewayService/IGatewayService/processXmlRequestResponse" message="tns:IGatewayService_processXmlRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="processRequest">
      <wsdl:input wsaw:Action="http://wwww/stoneriver.com/services/GatewayService/IGatewayService/processRequest" message="tns:IGatewayService_processRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://wwww/stoneriver.com/services/GatewayService/IGatewayService/processRequestResponse" message="tns:IGatewayService_processRequest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IGatewayService" type="tns:IGatewayService">
    <wsp:PolicyReference URI="#NetTcpBinding_IGatewayService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="processXmlRequest">
      <soap12:operation soapAction="http://wwww/stoneriver.com/services/GatewayService/IGatewayService/processXmlRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processRequest">
      <soap12:operation soapAction="http://wwww/stoneriver.com/services/GatewayService/IGatewayService/processRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IGatewayService" type="tns:IGatewayService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="processXmlRequest">
      <soap:operation soapAction="http://wwww/stoneriver.com/services/GatewayService/IGatewayService/processXmlRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processRequest">
      <soap:operation soapAction="http://wwww/stoneriver.com/services/GatewayService/IGatewayService/processRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GatewayService">
    <wsdl:port name="NetTcpBinding_IGatewayService" binding="tns:NetTcpBinding_IGatewayService">
      <soap12:address location="net.tcp://lpat1.hoad.local:8090/GatewayService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://lpat1.hoad.local:8090/GatewayService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IGatewayService" binding="tns:BasicHttpBinding_IGatewayService">
      <soap:address location="http://lpat1.hoad.local:8568/GatewayService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>