TestTools/LifePortaitsWebServiceTester/Service References/LifePortraitsGatewayServiceReference/GatewayService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LifeServer.DataModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LifeServer.DataModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LifeServerBaseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="Exception" nillable="true" type="tns:LifeServerException" />
      <xs:element minOccurs="0" name="HasError" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LifeServerBaseResponse" nillable="true" type="tns:LifeServerBaseResponse" />
  <xs:complexType name="LifeServerException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccurenceDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LifeServerException" nillable="true" type="tns:LifeServerException" />
</xs:schema>