WebServices/WoodmenIllustrationService/Service References/LpaGatewayService/GatewayService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LifeServer.DataModel.request" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LifeServer.DataModel.request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AgentAccountCreatorRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AgentAccountRequest">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AgentAccountCreatorRequest" nillable="true" type="tns:AgentAccountCreatorRequest" />
  <xs:complexType name="AgentAccountRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LifeServerBaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="accountSetupRequestXML" nillable="true">
            <xs:complexType>
              <xs:sequence>
                <xs:any minOccurs="0" processContents="lax" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AgentAccountRequest" nillable="true" type="tns:AgentAccountRequest" />
  <xs:complexType name="LifeServerBaseRequest">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="LifeServerBaseRequest" nillable="true" type="tns:LifeServerBaseRequest" />
  <xs:complexType name="AccountSetupRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LifeServerBaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="GatewayServiceXMLElement" nillable="true">
            <xs:complexType>
              <xs:sequence>
                <xs:any minOccurs="0" processContents="lax" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AccountSetupRequest" nillable="true" type="tns:AccountSetupRequest" />
  <xs:complexType name="GatewayServiceRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LifeServerBaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="GatewayServiceXMLElement" nillable="true">
            <xs:complexType>
              <xs:sequence>
                <xs:any minOccurs="0" processContents="lax" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GatewayServiceRequest" nillable="true" type="tns:GatewayServiceRequest" />
</xs:schema>