WebServices/WoodmenIllustrationService/Service References/LpaGatewayService/GatewayService63.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://wwww/stoneriver.com/services/GatewayService" elementFormDefault="qualified" targetNamespace="http://wwww/stoneriver.com/services/GatewayService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://lpa-test.woodmen.net/GatewayService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/LifeServer.DataModel.request" />
  <xs:import schemaLocation="https://lpa-test.woodmen.net/GatewayService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LifeServer.DataModel.response" />
  <xs:element name="processXmlRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="processXmlRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processXmlRequestResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="processRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LifeServer.DataModel.request" minOccurs="0" name="requestObject" nillable="true" type="q1:GatewayServiceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="processRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LifeServer.DataModel.response" minOccurs="0" name="processRequestResult" nillable="true" type="q2:GatewayServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="processStringRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="processStringRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processStringRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>