WebServices/WoodmenIllustrationService/Service References/LpaSearchService/PersonSceneSearchService63.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://wwww/stoneriver.com/services/PersonSceneSearchService" elementFormDefault="qualified" targetNamespace="http://wwww/stoneriver.com/services/PersonSceneSearchService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="processXmlRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="processXmlRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processXmlRequestResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="processRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="processRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>